@mixin grid($columns, $gap) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: $columns;
}

@mixin grid-columns($columns) {
    grid-template-columns: $columns;
}

@mixin grid-rows($rows) {
    grid-template-rows: $rows;
}